# PostgreSQL (homeserver via Tailscale)
PG_HOST=authentik-postgres
PG_PORT=5432
PG_USER=changeme
PG_PASSWORD=changeme
PG_DB=changeme

# Superuser (for init only)
PG_ADMIN_USER=changeme
PG_ADMIN_PASSWORD=changeme
PG_ADMIN_DB=changeme

# Authentik
AUTHENTIK_SECRET_KEY=make-a-secure-secret-key-and-put-it-here

# Domain
AUTHENTIK_DOMAIN=changeme
AUTHENTIK_HOST=changeme
