CROWDSEC_BOUNCER_KEY=changeme
SMTP_PASSWORD=changeme      # to get this, go to https://myaccount.google.com/ , in security & sign in, enable 2FA(google if u dunno what it is and it needs to be on) then search app passwords, generate one for mail and use it here instead of your normal password
SMTP_USERNAME=frommail@example.com
ALERT_EMAIL=tomail@example.com